* {
    font-family: 'Courier New', Courier, monospace;
}

li > ul li {
    color: magenta;
    font-size: 0;
}

li > ul li > ul li {
    color: aqua;
    font-size: 0;
}

body > ul {
    color: navy;
}

li>span:hover {
    font-weight: bold;
    cursor: pointer;
}

.visible {
    font-size: 16px;
}

.new {
    color: red;
}

.opened > ul > li {
    font-size: 16px;
}